.menu-sidebar {
  margin-top: 10px;
  margin-right: 10px;
  width: 220px;
}

.common__channel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &-avatar {
    content: "";
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #bfbfbf;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 6px;
    vertical-align: middle;
  }
  &-text {
    font-size: 18px;
  }
  &-item {
    padding: 4px 8px;
    height: 100px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
    color: #595959;
    line-height: 22px;
    font-weight: normal;
    font-size: 14px;
    &.active {
      background-color: #dddddd;
    }
  }
}

.channel-title {
  color: #262626;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding-left: 10px;
  margin-bottom: 4px;
  margin-top: 0;
}
